@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgba(4, 0, 77, 1);
    --orange: rgba(255, 87, 34, 1);
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

ul {
    list-style: none;
}

.w-100 {
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        padding-right: 12%;
        padding-left: 12%;
    }
}

@media (max-width: 769px) {
    .container {
        padding-right: 5%;
        padding-left: 5%;
    }
}

.text-orange {
    color: var(--orange) !important;
}


/* header */

header {
    background-color: #F7E4AA;
    padding-top: 70px;
    padding-bottom: 70px;
}

@media (min-width: 992px) {
    header {
        padding-left: 150px;
        padding-right: 150px;
    }
}

.header-inner {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .header-inner {
        flex-direction: column-reverse;
        text-align: center;
    }
}

.header-title {
    color: #383E56;
    font-weight: 500;
}

@media (min-width: 1400px) {
    .header-title {
        font-size: 80px;
    }
}

@media (min-width: 1200px) and (max-width: 1401px) {
    .header-title {
        font-size: 40px;
    }
}

@media (max-width: 992px) {
    .header-title {
        font-size: 20px;
    }
}

.header-title span {
    color: var(--orange);
}

.header-info {
    color: #01001A;
    font-size: 16px;
    letter-spacing: 1.5px;
    padding: 40px 0;
}

.header-inner .buttons {
    justify-content: flex-start !important;
    gap: 20px;
}

.header-inner .buttons .btn {
    width: 160px;
    height: 54.59px;
}

@media (min-width: 1200px) and (max-width: 1401px) {
    .header-inner .buttons .btn {
        width: 140px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .header-inner .buttons .btn {
        width: 120px;
    }
}

@media (min-width: 400px) and (max-width: 768px) {
    .header-inner .buttons {
        justify-content: center !important;
    }
}

@media (max-width: 401px) {
    .header-inner .buttons {
        flex-direction: column;
        align-items: center;
    }
}

.outline-orange-btn a {
    color: var(--orange);
}

.outline-orange-btn:hover a {
    color: #fff;
}

.header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width:400px) and (max-width: 768px) {
    .header-img {
        width: 400px;
    }
    .header-img img {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 769px) {
    .header-img {
        width: 100%;
    }
    .header-img img {
        width: 60%;
        height: 60%;
    }
}


/* navbar */

.navbar-brand {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.brand-title {
    color: var(--text-color);
    font-weight: 500;
    font-size: 20px;
    padding-top: 20px;
    margin-left: 20px;
}

.navbar-nav {
    display: flex;
}

.navbar-nav .nav-item:last-child {
    border: 1px solid var(--orange);
    border-radius: 4px;
    -webkit-transition: all 1s 0s ease;
    -moz-transition: all 1s 0s ease;
    -o-transition: all 1s 0s ease;
    transition: all 1s 0s ease;
}

.navbar-nav .nav-item:last-child:hover {
    background-color: var(--orange);
}

.navbar-nav .nav-item:last-child:hover .nav-link {
    color: #fff !important;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    -webkit-transition: all 1s 0s ease;
    -moz-transition: all 1s 0s ease;
    -o-transition: all 1s 0s ease;
    transition: all 1s 0s ease;
}

.nav-item {
    position: relative;
    display: flex;
    justify-content: center;
}

.nav-item:not(:last-child)::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 4px;
    width: 50%;
}

.nav-item:not(:last-child)::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    align-self: end;
}

.nav-item:not(:last-child):hover::before,
.nav-item:not(:last-child):focus::before,
.nav-item:not(:last-child):hover::after,
.nav-item:not(:last-child):focus::after {
    background-color: var(--orange);
    -webkit-transition: all 1s 0s ease;
    -moz-transition: all 1s 0s ease;
    -o-transition: all 1s 0s ease;
    transition: all 1s 0s ease;
}

.nav-inner {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.navbar-toggler {
    display: none;
}

.nav-item:last-child {
    margin-top: 10px;
}

@media (min-width: 1400px) {
    .nav-link:not(.qeydiyyat) {
        padding: 25px 24px;
    }
    .qeydiyyat {
        padding: 15px 24px;
        align-self: center;
    }
}

@media (max-width: 1400px) {
    .nav-link {
        padding: 25px 12px;
        font-size: 12px;
    }
    .qeydiyyat {
        padding: 15px 24px;
        align-self: center;
    }
}

@media (max-width: 992px) {
    .navbar-toggler {
        display: inline-block;
        background-color: transparent;
        border: none;
        font-size: 22px;
        cursor: pointer;
    }
    .navbar-nav {
        display: none;
    }
    .navbar-nav.show {
        display: flex;
    }
    .navbar-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-inner {
        flex-direction: column;
    }
    .navbar-nav {
        flex-direction: column;
        width: 100%;
        padding-top: 10px;
    }
    .nav-item {
        width: 100%;
        display: inline-block;
    }
    .nav-link {
        padding-left: 0;
        font-size: 14px;
    }
    .navbar-nav .nav-item:last-child {
        text-align: center;
    }
    .nav-item:not(:last-child):hover::before,
    .nav-item:not(:last-child):focus::before,
    .nav-item:not(:last-child):hover::after,
    .nav-item:not(:last-child):focus::after {
        background-color: #fff;
    }
}

.title {
    color: #04004D;
}

@media (min-width: 1200px) {
    .title {
        font-size: 32px;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 24px;
    }
}

@media (max-width: 769px) {
    .title {
        font-size: 16px;
    }
}

.sub-title {
    font-size: 14px;
    color: #848199;
    padding: 20px 0;
}

.subscription {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    width: 110px;
    height: 44px;
    border-radius: 6px;
    font-size: 14px;
    background: none;
}

.btn a {
    text-decoration: none;
}

.orange-btn {
    background-color: var(--orange);
    border: none;
}

.orange-btn a {
    color: #fff;
}

.subscription .orange-btn {
    transform: translateX(7px);
}

.outline-secondary-btn {
    border: 1px solid #E1E1E1;
    color: #808080;
}

.outline-secondary-btn a {
    color: #808080;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}


/* card */

#aylıq {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
}

#aylıq .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    border: 1px solid var(--orange);
    border-radius: 6px;
    padding: 40px;
}

@media screen and (min-width: 1200px) {
    #aylıq .card {
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 1201px) {
    #aylıq .card {
        width: 40%;
    }
}

.number {
    font-size: 32px;
    color: #1F1F1F;
}

#aylıq .card-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

#aylıq .card-header p {
    font-size: 16px;
    color: #525252;
}

#aylıq .card-title {
    font-size: 18px;
    color: #3D3D3D;
    padding: 10px 0;
}

.text {
    font-size: 14px;
    color: #808080;
}

#aylıq .card-body ul:not(li ul) {
    padding-top: 20px;
}

#aylıq .card-body ul li {
    padding: 10px 0;
}

#aylıq .card-body ul li ul li {
    margin-left: 10px;
    padding-top: 20px;
}

#aylıq .card-body ul li ul li input[type="checkbox"] {
    background-color: rgba(0, 0, 0, 10%);
    border-color: rgba(0, 0, 0, 10%);
}

#aylıq .card-body ul li ul li input[type="checkbox"]~label {
    color: #848199;
    text-decoration: line-through;
}

#aylıq .card-body ul li ul li input[type="checkbox"]:after {
    color: rgba(0, 0, 0, 20%);
}

.check {
    display: flex;
    align-items: center;
    gap: 10px;
}

#aylıq input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 87, 34, 20%);
    background-color: rgba(255, 87, 34, 20%);
}

#aylıq input[type="checkbox"]:after {
    font-family: "Font Awesome 5 free";
    content: "\f00c";
    font-weight: 900;
    font-size: 14px;
    color: var(--orange);
}

#aylıq input[type="checkbox"]~label {
    color: var(--orange);
}

#aylıq .card-footer {
    align-self: center;
    margin-top: 50px;
}

.outline-orange-btn {
    border: 1px solid var(--orange);
    color: var(--orange);
    width: 202px;
}

.outline-orange-btn:hover {
    color: #fff;
    background-color: var(--orange);
}

.card-center {
    background-color: var(--orange);
    margin-top: -70px;
    padding-top: 50px;
}

@media screen and (max-width: 1201px) {
    .card-center {
        margin-top: 0;
    }
}

.card-center .number,
.card-center .card-header p,
.card-center .card-title,
.card-center .text,
.card-center label,
.card-center input[type="checkbox"]:after {
    color: #fff !important;
}

.card-center input[type="checkbox"] {
    background-color: #ff572233;
}

.card-center .outline-orange-btn {
    background-color: #fff;
    margin-bottom: 40px;
}

.card-center .outline-orange-btn:hover {
    color: var(--orange);
}


/* slide  */

.slide .sub-title {
    margin-bottom: 50px;
}

.item {
    border: 1px solid rgba(0, 0, 0, 12%);
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

.item-title {
    color: #3D3D3D;
    font-weight: 600;
    font-size: 16px;
}

.item-sub-title {
    color: #A1A1A1;
    font-size: 13px;
}

.item-star i {
    color: #FEA250;
    font-size: 15px;
}

.item-star {
    padding: 10px 0;
}

.item-text {
    font-size: 14px;
    color: #4D4D4D;
}


/* top courses section*/

.courses-inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1200px) {
    .courses-inner-header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }
}

.fa-user-group {
    color: var(--orange);
    position: relative;
}

.fa-user-group::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: rgba(41, 114, 254, 10%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.courses-inner-header .left {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (max-width: 1200px) {
    .courses-inner-header .left {
        margin-left: 20px;
    }
}

.courses-inner-header .orange-btn {
    width: 138px;
    font-size: 16px;
}

select[name*="filtr"] {
    border: none;
    outline: none;
    font-size: 16px;
}

.courses {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.courses .card {
    border: 1px solid rgba(0, 0, 0, 10%);
    border-radius: 8px;
}

@media (min-width: 1400px) {
    .courses .card {
        width: 31%;
    }
}

@media (max-width: 1401px) {
    .courses {
        justify-content: center;
    }
}

.courses .card-header {
    height: 175px;
}

.courses .card-header img {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 20%);
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.courses .card-header img::after {
    font-family: "Font Awesome 5 free";
    content: "\f004";
    font-size: 18px;
    color: #666666;
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px;
    background-color: #fff;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses .card-body {
    padding: 20px 20px 0 20px;
}

.courses .card-footer {
    padding: 10px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1400px) {
    .courses .card-footer .btn {
        margin-left: 20px;
    }
}

.courses .card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-top-star i {
    color: #FEA250;
}

.card-top-star span {
    font-size: 14px;
    color: #4D4D4D;
}

.fa-hotjar {
    color: #fff;
    position: relative;
    font-size: 14px;
}

.fa-hotjar::after {
    content: "";
    position: absolute;
    background-color: var(--orange);
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
}

.courses .card-title {
    font-size: 18px;
    color: #262626;
    font-weight: 700;
    margin-bottom: 30px;
}

.card-footer .info {
    color: #4D4D4D;
}

.btn-red {
    color: #FF5722;
    background-color: rgba(255, 87, 3, 16%);
    border: none;
    font-size: 14px;
    font-weight: 600;
}


/* derslikler section */

.derslikler {
    text-align: center;
}

.derslikler .text {
    color: #fff;
    margin-bottom: 40px;
}

.derslikler-inner {
    background-color: var(--text-color);
    padding: 100px;
    margin-top: 50px;
}

.derslikler .btn {
    width: 129px;
    height: 46px;
}


/* navigation section */

.navigation {
    text-align: center;
}

.navigation-img {
    margin-top: 40px;
    position: relative;
}

@media (max-width: 768px) {
    .navigation-img img {
        width: 100%;
    }
}


/* footer */

footer {
    background-color: #F7E4AA;
    padding-top: 20px;
}

.links-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links-logo .img {
    width: 47px;
    height: 58px;
}

.links-logo span {
    font-size: 20px;
    font-weight: 600;
}

.links-logo img {
    width: 100%;
    height: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33%;
}

.mail {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mail a {
    text-decoration: none;
    color: #666666;
    font-size: 14px;
}

.links i {
    color: #4D4D4D;
    font-size: 14px;
}

.social-links {
    display: flex;
    gap: 40px;
    padding-left: 20px;
}

.link-text {
    font-size: 14px;
}

.social-links i {
    font-size: 14px;
    color: #fff;
    position: relative;
    z-index: 5;
}

.social-links i::after {
    content: "";
    position: absolute;
    background-color: #4D4D4D;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.footer-body {
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links-nav {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .links-nav {
        width: 55%;
    }
}

@media (min-width: 992px) and (max-width: 1201px) {
    .links-nav {
        width: 67%;
    }
}

@media (min-width: 576px) and (max-width: 993px) {
    .links-nav {
        width: 100%;
    }
    .links {
        width: 100%;
        margin-bottom: 30px;
    }
    hr {
        display: none;
    }
}

@media (max-width: 577px) {
    .footer-body {
        flex-direction: column;
    }
    .links {
        width: 100%;
        margin-bottom: 30px;
    }
    .links-nav {
        flex-direction: column;
    }
    .footer-bottom {
        flex-direction: column;
    }
    hr {
        display: none;
    }
}

.links-nav-title {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}

.links-nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #666666;
    font-size: 14px;
}

.links-nav ul li {
    padding: 10px 0;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.footer-bottom p {
    font-size: 14px;
    color: #666666;
}

.footer-bottom p a {
    text-decoration: none;
}

footer hr {
    border: 0;
    padding: 0.1px;
    background-color: #000000;
}


/* chatbot */

.show-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    background: #EBE9E9;
    color: var(--orange);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.show-btn i {
    margin: 15px 16px;
    font-size: 60px;
}

.wrapper {
    display: none;
    width: 321px;
    height: 487px;
    background-color: #fff;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.show-chatbot {
    display: block;
}

.chatbot-header {
    display: flex;
    align-items: center;
}

.chatbot-header i {
    width: 5%;
    color: var(--orange);
    position: relative;
}

.next {
    cursor: pointer;
}

.chatbot-header i::after {
    content: " ";
    position: absolute;
    background-color: rgba(254, 162, 80, 48%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.chatbot-header h5 {
    width: 90%;
    text-align: center;
}

.chatbot time {
    text-align: center;
    display: block;
    padding: 20px 0;
    font-size: 14px;
}

.client-message {
    background-color: #E1E1E1;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
    max-width: 221px;
    display: inline-block;
}

.client-users {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.client-users time {
    align-self: center;
}

.client-user {
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
    max-width: 221px;
    display: inline-block;
    color: #fff;
    background-color: var(--orange);
}

.chatbot form {
    position: relative;
}

.chatbot input::placeholder {
    color: #A1A1A1;
}

.chatbot input {
    padding: 20px 25px;
    border: none;
    outline: 0;
    border-radius: 30px;
    width: 100%;
    display: flex;
    border: 1px solid #848484;
    margin: 10px 0;
}

.chatbot button[type="submit"] i {
    color: #fff;
    font-size: 20px;
}

.chatbot button[type="submit"] {
    background-color: var(--orange);
    border: none;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 7px;
    right: 10px;
}